<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="javascript:void(0)">Tent Rent App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" *ngIf="isLoggedIn">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/dashboard']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Dashboard</a
            >
          </li> -->
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/dashboard', 'initialize']"
              routerLinkActive="active"
              >Initialize</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/dashboard', 'customers']"
              routerLinkActive="active"
              >Customers</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/dashboard', 'products']"
              routerLinkActive="active"
              >Products</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/dashboard', 'transactions']"
              routerLinkActive="active"
              >Transacations</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/dashboard', 'reports']"
              routerLinkActive="active"
              >Reports</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="onLogout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
