<div class="container">
  <div class="row mt-5">
    <div class="col-md-10">
      <h1>Customers</h1>
    </div>
    <div class="col-md-2 text-right">
      <button
        type="button"
        class="btn btn-primary"
        (click)="redirectTo(['dashboard', 'customers', 'create'])"
      >
        Add new customer
      </button>
    </div>
  </div>
  <div class="row mt-3" *ngIf="(customers$ | async).length > 0; else noProducts">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Created At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers$ | async; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ customer?.name || "-" }}</td>
          <td>{{ customer?.createdAt | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noProducts>
    <div class="row text-center mt-3">
      <div class="col-md-12">No customers found.</div>
    </div>
  </ng-template>
</div>
